@media (min-width: 1320px) {

    .underbar{
        display: none;
    }
    /* underbar */

    .quick{
        display: block;
        position: fixed;
        bottom: 10%;
        right: 70px;
        z-index: 9;

    }
    .quick .qMenu{
        display: block;
        width: 100px;
        height: 100px;
        background-color: #ed3024;
        border: 0;
        border-radius: 110px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
        box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.25);
    }
    .quick:last-child{
        margin-bottom: 0;
    }
    .quick .qMenu:hover{
        color: chocolate;
    }
    .quick .qMenu img{
        margin: auto;
        width: 35px;
    }
    .quick .qMenu p{
        color: #fff;
        margin-top: 3px;
    }
    /* quick */

    .h_nav .back{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
        z-index: 10;
        transition: all .1s ease;
        transition-delay: all .1s;
    }
    .h_nav .sitemap{
        width: 30%;
    }
    /* h_nav */

    header .top{
        display: block;
        border-bottom: 1px solid #ccc;
    }
    header .top .wrap{
        width: 1320px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: right;
        position: relative;
    }
    header .top .wrap button{
        background-color: transparent;
        border: 0;
        font-weight: 300;
        font-size: 14px;
    }
    header .top .wrap .login{}
    header .top .wrap .login a{
        display: flex;
        padding: 20px 0 20px 20px;
    }
    header .top .wrap .login a::after{
        content: '|';
        display: block;
        padding-left: 20px;
        color: #ccc;
    }
    header .top .wrap .login a img,
    header .top .wrap .lang img{
        padding-right: 10px;
    }
    header .top .wrap .login a p{}
    header .top .wrap .lang{
        display: flex;
        padding: 20px 0 20px 20px;
    }
    header .top .wrap ul{
        position: absolute;
        top: 60px;
        right: -20px;
        padding: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.1);
    }
    header .top .wrap ul li{
        font-size: 14px;
        font-weight: 300;
    }

    header .bottom{
        width: 1320px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        align-items: center;
    }
    header .bottom .logo h1 img{
        width: 210px;
    }
    header .bottom .gnb{
        display: flex;
    }
    header .bottom .gnb li{
        font-size: 19px;
        font-weight: 500;
        margin-right: 20px;
        margin-left: 20px;
    }
    header .bottom .btn{
        display: flex;
    }
    header .bottom .btn .contract{
        display: block;
        border: 0;
        background-color: #ed3024;
        padding: 6px 20px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        margin-right: 30px;
    }
    /* header */

    .srch{
        max-width: 730px;
        margin: 0 auto;
        padding: 80px 0;
    }
    .srch .btn button{
        font-size: 25px;
        margin-right: 10px;
    }
    .srch .btn button:nth-child(2){
        margin-right: 10px;
    }
    .srch .btn button:nth-child(3){
        display: inline-block;
        margin-right: 0;
        color: #ccc;
    }

    .srch .box{
        margin-top: 15px;
    }
    .srch .box input{
        height: 65px;
        font-size: 19px;
        font-weight: 500;
        border-radius: 15px;
    }
    .srch .box button img{
        width: 45px;
    }
    
    .srch .tag{
        display: flex;
        font-weight: 500;
        margin-top: 15px;
    }
    .srch .tag .star{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .srch .tag .star img{height: 80%; margin-right: 2px;}
    .srch .tag .star p{
        text-wrap: nowrap;
        font-weight: 500;
        color: #E57777;
    }

    .srch .tag .gnb{
        display: flex;
    }
    .srch .tag .gnb li{
        margin-right: 20px;
        color: #8C8C8C;
    }
    .srch .tag .gnb li:last-child{
        margin-right: 0;
    }
    /* srch */

    .banner{
        width: 1320px;
        margin: 0 auto;
        overflow: visible;
    }
    .banner .swiper-wrapper{
        position: relative;
    }
    .banner .swiper-wrapper .swiper-slide{
        width: 1280px;
        height: 470px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .banner .bn1{
        background-image: url(../images/banner01.png);
    }
    .banner .bn2{
        background-image: url(../images/banner02.png);
    }
    .banner .bn3{
        background-image: url(../images/banner03.png);
    }
    .banner .bn4{
        background-image: url(../images/banner04.png);
    }
    
    /* 슬라이드 적용시킨 배너 전체를 감싸는 div에 overflow: hidden;을 -> overflow: visible;로 변경하고
       html 전체를 한번더 감싼 div를 하나 만들어준 뒤에 그곳에 'overflow: hidden;'을 적용시켜준 후에 
       script에 loop: true,             를 적용시켜준다 !!
                centeredSlides: true,
                slidesPerView : 1
    */
    .banner .btn{
        display: block;
    }
    .banner .btn .next,
    .banner .btn .prev{
        position: absolute;
        top: 45%;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #ed3024;
        border-radius: 50%;
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .banner .btn .next{
        right: -25px;
    }
    .banner .btn .prev{
        left: -25px;
    }
    .banner .btn .next:hover,
    .banner .btn .prev:hover{
        background-color: #fff;
    }

    .pagbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    .pagbtn button{
        background-color: transparent;
        border: 0;
        margin-left: 10px;
    }
    
    .pagbtn button.on .stop{
        display: none;
    }
    .pagbtn button .play{
        display: none;
    }
    .pagbtn button.on .play{
        display: block;
    }

    .swiper-pagination{
        position: inherit;
    }
    .swiper-pagination span{
        background-color: #ed3024;
        width: 12px;
        height: 12px;
    }
    .swiper-pagination-bullets.swiper-pagination-horizontal{
        width: auto;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin-right: 10px;
        margin-left: 10px;
    }
    /* pagbtn */

    .survice{
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;  
    }

    .survice .txt{
        position: relative;
        display: block;
        width: 840px;
        margin-right: auto;
        margin-left: auto;
    }
    .survice .txt .go{}
    .survice .txt .go h2{
        font-size: 45px;
    }
    .survice .txt .go h2 span{
        color: #ed3024;
    }

    .survice .txt .srchbox{
        position: relative;
        display: flex;
    }
    .survice .txt .srchbox p{
        font-size: 25px;
        font-weight: 300;
        padding-top: 10px;
    }
    .survice .txt .srchbox input{
        border: 0;
        border-bottom: 5px solid #262626;
        font-size: 20px;
        width: 350px;
        padding-left: 5px;
        padding-right: 50px;
        margin-left: 40px;
    }
    .survice .txt .srchbox button{
        background-color: transparent;
        border: 0;
    }
    .survice .txt .srchbox img{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    /* survice_txt */
    
    .survice .icon{
        margin-top: 60px;
    }
    .survice .icon .swiper-slide{
        padding-top: 10px;
    }
    .survice .icon .swiper-slide img{
        width: auto;
        margin: auto;
        box-shadow: 0 10px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }
    .survice .icon .swiper-slide:hover img{
        transform: translateY(-10px);
    }/* icon hover 했을때 */
    .survice .icon .swiper-slide p{
        font-size: 17px;
        padding-top: 20px;
    }
    
    .survice .btn button{
        top: 63%;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
    }
    .survice .btn button:hover{
        background-color: #fff;
    }
    .survice .btn .prev{
        left: -40px;
    }
    .survice .btn .next{
        right: -40px;
    }
    /* survice */

    .goods{
        width: 1320px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 120px;
        position: relative;
        display: block;
    }

    .goods .top{
        text-align: center;
    }
    .goods .top h2{
        font-size: 45px;
        font-weight: 600;
    }
    .goods .top h2 span{
        color: #ed3024;
    }
    .goods .top .gnb{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .goods .top .gnb li{
        font-size: 20px;
        font-weight: 300;
        background-color: #ccc;
        margin: 0 20px;
        padding: 10px 25px;
        border-radius: 50px;
        transition: all 0.3s;
    }
    .goods .top .gnb li:hover{
        background-color: #ed3024;
        color: #fff;
        transition: all 0.3s;
    }
    /* goods_top */

    .goods .shop{
        margin: 60px 0;
    }
    .goods .shop.on{
        display: block;
    }

    .goods .shop .swiper-slide{}
    .goods .shop .pic{
        width: 290px;
        height: 330px;
        background-color: #8C8C8C;
        border-radius: 15px;
        margin: auto;
        overflow: hidden;
    }

    .goods .shop .txt{
        padding: 10px;
    }
    .goods .shop .txt .main{
        height: 80px;
    }
    .goods .shop .txt .main h4{
        width: 290px;
        font-size: 17px;
        font-weight: 300;
    }
    .goods .shop .txt .main span{
        font-size: 13px;
        font-weight: 300;
        color: #686868;
    }
    /* txt_main */

    .goods .shop .txt .sale{}
    .goods .shop .txt .sale>span{
        font-size: 13px;
        text-decoration: line-through;
        color: #686868;
    }
    .goods .shop .txt .sale p{
        font-size: 23px;
        font-weight: 500;
    }
    .goods .shop .txt .sale p span{
        color: #ed3024;
        padding-right: 10px;
    }
    /* txt_sale */

    .goods .shop .txt .review{
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    .goods .shop .txt .review img{
        height: 15px;
        padding-right: 5px;
    }
    .goods .shop .txt .review p{
        font-size: 13px;
        color: #686868;
    }
    /* txt_review */
    
    .goods .btn{
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }
    .goods .btn button{
        position: absolute;
        top: 42%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ed3024;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
        z-index: 2;
    }
    .goods .btn button:hover{
        background-color: #fff;
    }
    .goods .btn .prev2{
        left: -40px;
    }
    .goods .btn .next2{
        right: -40px;
    }
    .goods .btn .prev2 img,
    .goods .btn .next2 img{
        width: 10px;
        margin: auto;
    }
    .goods .more{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 480px;
        height: 60px;
        border: 1px solid #262626;
        border-radius: 15px;
        background-color: transparent;
        font-size: 17px;
        font-weight: 300;
        transition: all 0.3s;
    }
    .goods .more:hover{
        color: #fff;
        background-color: #ed3024;
        border: 0;
        transition: all 0.3s;
    }
    /* goods */

    .card1{
        display: block;
        margin: 60px 0;
    }
    .card1.on{
        display: none;
    }
    .card1 .pic{
        border-radius: 15px;
    }
    .card1 .pic img{
        width: 290px;
        margin: auto;
        border-radius: 15px;
    }

    .card1 .txt{
        padding: 10px;
    }
    .card1 .txt .top{
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }
    .card1 .txt .top p{
        font-size: 13px;
        font-weight: 300;
        background-color: #ed3024;
        padding: 3px 7px;
        border-radius: 100px;
        color: #fff;
        margin-right: 5px;
    }
    .card1 .txt .top h4{
        font-size: 17px;
        font-weight: 300;
    }
    .card1 .txt .won{
        font-size: 20px;
        font-weight: 500;
        color: #ed3024;
    }
    .card1 .txt .won span{
        font-size: 16px;
    }
    .card1 .swiper-slide:first-child .txt>span{
        display: block;
        font-size: 13px;
        color: #ed3024;
        padding-top: 20px;
    }
    .card1 .txt>span{
        display: block;
        font-size: 13px;
        padding-top: 20px;
    }
    .card1 .swiper-slide:nth-child(4) .txt .top p,
    .card1 .swiper-slide:nth-child(5) .txt .top p,
    .card1 .swiper-slide:nth-child(6) .txt .top p,
    .card1 .swiper-slide:nth-child(7) .txt .top p,
    .card1 .swiper-slide:nth-child(8) .txt .top p{
        background-color: #ffb600;
    }
    /* card1 */

    .card2{
        display: block;
        margin: 60px 0;
    }
    .card2.on{
        display: none;
    }

    .card2 .pic{
        border-radius: 15px;
    }
    .card2 .pic img{
        width: 290px;
        margin: auto;
        border-radius: 15px;
    }

    .card2 .txt{
        padding: 10px;
    }
    .card2 .txt .top{
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }
    .card2 .txt .top p{
        font-size: 13px;
        font-weight: 300;
        background-color: #ed3024;
        padding: 3px 7px;
        border-radius: 100px;
        color: #fff;
        margin-right: 5px;
    }
    .card2 .txt .top h4{
        font-size: 17px;
        font-weight: 300;
    }
    .card2 .txt .won{
        font-size: 20px;
        font-weight: 500;
        color: #ed3024;
    }
    .card2 .txt .won span{
        font-size: 16px;
    }
    /* card2 */

    .stamp{
        display: flex;
        margin: 60px 0;
    }
    .stamp.on{
        display: none;
    }
    .stamp .swiper-slide{
        width: 290px;
    }

    .stamp .swiper-slide .pic{
        width: 290px;
        height: 190px;
        margin: auto;
        border: 1px solid #8C8C8C;
        border-radius: 15px;
        overflow: hidden;
    }
    .stamp .swiper-slide .txt{
        padding: 10px;
    }
    .stamp .swiper-slide .txt .day{
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 300;
        padding-bottom: 2px;
        color: #686868;
        border-bottom: 1px solid #ccc;
    }
    .stamp .swiper-slide h4{
        font-size: 17px;
        font-weight: 300;
        padding-top: 15px;
    }
    .stamp .swiper-slide .txt .won{
        font-size: 23px;
        font-weight: 500;
        color: #ed3024;
    }
    .stamp .swiper-slide .txt .won span{
        font-size: 17px;
        padding-top: 10px;
    }

    .stamp .item2 .pic img{
        width: auto;
    }
    .stamp .item3 .pic{
        height: 188px;
    }

    .stamp .item3 .pic img{
        width: 240px;
        padding-left: 30px;
        padding-top: 30px;
    }
    /* stamp */

    .phone{
        margin: 60px 0;
    }
    .phone.on{
        display: none;
    }
    .phone .swiper-slide{
        width: 290px;
    }

    .phone .swiper-slide .pic{
        border: 1px solid #8C8C8C;
        border-radius: 15px;
        overflow: hidden;
    }
    .phone .swiper-slide .pic img{
        width: 250px;
        margin: auto;
    }

    .phone .swiper-slide .txt{
        padding: 10px 0;
    }
    .phone .swiper-slide .txt .top{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        align-items: center;
    }
    .phone .swiper-slide .txt .top img{
        height: 15px;
    }
    .phone .swiper-slide .txt .top .right{
        display: flex;
        font-size: 13px;
        font-weight: 300;
    }
    .phone .swiper-slide .txt .top .right .lte{
        border: 1px solid #ed3024;
        border-radius: 5px;
        padding: 2px 4px;
        color: #ed3024;
        margin-right: 5px;
    }
    .phone .swiper-slide .txt .top .right .new{
        background-color: #ed3024;
        border-radius: 5px;
        color: #fff;
        padding: 2px 4px;
    }

    .phone .swiper-slide .txt .bottom{}
    .phone .swiper-slide .txt .bottom h4{
        font-size: 17px;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .phone .swiper-slide .txt .bottom .won{
        font-size: 23px;
        font-weight: 500;
        color: #ed3024;
    }
    .phone .swiper-slide .txt .bottom .won span{
        font-size: 17px;
        padding-top: 10px;
    }
    .phone .swiper-slide .txt .bottom>span{
        display: block;
        font-size: 15px;
        font-weight: 300;
        padding-top: 10px;
    }

    


    .gbtn{
        display: none;
    }
    /* gbtn-모바일 버튼 */

    .faq{
        display: none;
    }
    /* faq-모바일 주요질문 */

    .notice{
        display: block;
        background-color: #fff4eb;
        padding: 100px  0;
        margin-top: 80px;
    }
    .notice .wrap{
        width: 1320px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }

    .notice  .wrap .txt{}
    .notice .wrap .txt h2{
        position: relative;
        font-size: 45px;
        font-weight: 600;
    }
    .notice .wrap .txt h2::after{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: red;
        position: absolute;
        top: 0;
        left: 175px;
    }

    .notice .wrap .txt .more{
        font-size: 18px;
        font-weight: 500;
        width: 117px;
        height: 40px;
        border: 1px solid #262626;
        border-radius: 100px;
        background-color: transparent;
        margin-top: 60px;
        transition: all 0.3s;
    }
    .notice .wrap .txt .more:hover{
        color: #fff;
        background-color: #ed3024;
        border: 0;
        transition: all 0.3s;
    }

    .notice .wrap ul{
        display: flex;
    }
    .notice .wrap ul li{}
    .notice .wrap ul li a{
        display: block;
        position: relative;
        width: 290px;
        margin-left: 40px;
        padding: 20px 20px 50px 20px;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all 0.2s;
        z-index: 2;
    }
    .notice .wrap ul li a::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #ed3024;
        position: absolute;
        bottom: 100%;
        left: 0;
        border-bottom-right-radius: 15px;
        transition: all 0.2s;
        z-index: -1;
    }
    .notice .wrap ul li a:hover::before{
        transform: translateY(100%);
    }
    .notice .wrap ul li a:hover{
        display: block;
        color: #fff;
    }
    .notice .wrap ul li a::after{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ed3024;
    }
    .notice .wrap ul li a span{
        display: block;
        font-size: 16px;
        font-weight: 300;
        margin-top: 50px;
    }
    .notice .wrap ul li a:hover span{
        color: #fff;
    }
    /* notice */

    footer{
        display: block;
    }

    footer .top{
        padding: 15px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    footer .top .wrap{
        width: 1320px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }

    footer .top ul{
        display: flex;
        align-items: center;
    }
    footer .top ul li{
        font-size: 12px;
        font-weight: 500;
        padding-right: 15px;
        color: #686868;
    }
    footer .top ul li::after{
        content: '|';
        color: #ccc;
        padding-left: 15px;
    }
    footer .top ul li:last-child:after{
        content: none;
    }
    footer .top ul .red{
        color: #E57777;
    }

    footer .top .site{
        font-size: 12px;
    }
    footer .top .site select{
        font-size: 12px;
        border-color: #8C8C8C;
        border-radius: 7px;
        padding: 2px;
    }
    footer .top .site a{
        display: inline-block;
        border: 1px solid #8C8C8C;
        padding: 2px 8px;
        border-radius: 7px;
    }
    /* footer_top */

    footer .bottom{
        display: flex;
        justify-content: space-between;
        width: 1320px;
        margin-right: auto;
        margin-left: auto;
        padding: 15px 0;
    }
    footer .bottom address{
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        color: #686868;
    }

    footer .bottom .mark{
        display: flex;
    }
    footer .bottom .mark li{
        margin-left: 10px;
    }
    /* footer */

    
    

    





}